.expand-container {
    padding: 40px 20px;
    background-color: #f7f7f7;
  }
  
  .expand-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .expand-header h2 {
    font-size: 24px;
    color: #001e3c;
    font-weight: bold;
  }
  
  .expand-header p {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
  }
  
  
  .expand-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.06);
  }
  
  .expand-icon {
    margin: 0 2rem;;
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
  }
  
  .expand-card h3 {
    font-size: 22px;
    font-weight: bold;
    color: #001e3c;
  }
  
  .expand-card p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
  }
  
  .expand-scroll-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
    margin-top: 32px;
  }
  
  .gradient-border {
    background: linear-gradient(135deg, #f0a605, #db701a); 
    border-radius: 16px;
    transition: transform 0.3s ease;
  }
  
  .gradient-border:hover {
    transform: scale(1.02);
  }
  
  .expand-card {
    background-color: var(--white); 
    padding: 24px 20px;
    border-radius: 14px;
    height: 100%;
    text-align: center;
    color: white;
  }
  